{% extends 'base.html' %} {% block head %}
<title>Register</title>
{% endblock %}
{% block bodytitle %}
<div class="body-title" id='ttl'>Register</div>
{% endblock %}
{% block body %}
{% load widget_tweaks %}
<div class="fs-container">
    <form method='post' class="form-signin">
        {% csrf_token %} 
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }} 
        {% endfor %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }} 
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <!-- {{ field.label_tag }}  -->
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %} 
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %} 
                        {% render_field field class="form-control is-valid" placeholder=field.label %} 
                    {% endif %} 
                {% else %} 
                    {% render_field field class="form-control" placeholder=field.label %} 
                {% endif %} 
                {% if field.help_text|safe %}
                    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-primary btn-block cs-btn">Register</button>
    </form>
</div>
{% endblock %}